@import '../../styles/colors';

.project-selector {
    width: 250px;
    margin: auto;
    position: relative;

    .project-selector-title {
        .title {
            font-weight: bold;
            text-transform: uppercase;
        }

        .subtitle {
            color: $darkgrey;
            font-size: 0.8rem;
        }
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid black;
        background-color: $white;
        padding: 5px;

        div:nth-child(2) {
            flex: 1;
        }

        input {
            display: none;
        }
    }

    ul {
        position: absolute;
        color: $black;
        background-color: $white;
        border: 1px solid black;
        border-top: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;

        li {
            cursor: pointer;
            border-top: 1px solid $black_alpha_10;

            :first-child {
                border-top: none;
            }
        }
    }
}
