@import '../../styles/colors';

.assignees {
    display: flex;
    flex: 1;

    > img {
        margin-right: 0.25rem;
    }

    .assignees-editor {
        position: relative;

        .delete-assignee {
            position: absolute;
            font-size: 0.5rem;
            display: flex;
            width: 1rem;
            height: 1rem;
            background: $error;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            top: 0;
            right: 0;
            color: $white;
            cursor: pointer;
        }

        img {
            margin-right: 0.5rem;
        }
    }
}
