@import '../../styles/colors';

.assignees-editor {
    position: relative;

    .delete-assignee {
        position: absolute;
        font-size: 0.5rem;
        display: flex;
        width: 18px;
        height: 18px;
        background: $error;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        top: -4px;
        right: -4px;
        color: $white;
        cursor: pointer;
        box-shadow: $box_shadow;

        &:hover {
            box-shadow: $box_shadow, $box_shadow;
        }
    }

    img {
        margin-right: 8px;
    }
}
