@import '../../styles/colors';
@import '../../styles/mixin';

.ticket-backdrop {
    background-color: $black_alpha_15;
    height: 100%;

    &.editing {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: unset;

        .ticket {
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            font-size: 2rem;
            cursor: auto;
            position: relative;

            @include medium() {
                width: 600px;
                height: 400px;
            }

            @include large() {
                width: 800px;
                height: 600px;
            }
        }
    }

    .ticket {
        display: flex;
        flex-direction: column;
        height: 100%;
        cursor: pointer;

        &.story {
            background-color: $ticket_yellow;
        }

        &.task {
            background-color: $ticket_blue;
        }

        &.bug {
            background-color: $ticket_red;
        }

        &.dragging {
            opacity: 0.5;
        }

        .ticket-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            background-color: $black_alpha_15;
            font-weight: bold;
        }

        .ticket-bottom {
            overflow: auto;
            flex: 1;
            padding: 5px 10px;
            display: flex;
            flex-direction: column;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: $black_alpha_15;
        }

        ::-webkit-scrollbar-thumb {
            background: $black_alpha_15;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: $black_alpha_25;
        }
    }
}
