@import '../../styles/colors';
@import '../../styles/mixin';

.ticket-placeholder {
    background-color: $black_alpha_15;
    min-width: 10rem;
    max-width: 12rem;
    height: 10rem;
    margin: 0.8rem auto;
    cursor: pointer;

    &.hidden {
        visibility: hidden;
    }
}
