@import '../../styles/colors';

header {
    background-color: $black_alpha_10;
    border-bottom: 1px solid $black_alpha_10;
    text-align: center;
    padding: 5px;

    a {
        float: left;
    }

    .project-name {
        font-size: 1.5rem;
        font-weight: bold;
    }
}
