@import '../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss';

.avatar {
    width: 1.5rem;
    height: 1.5rem;
}

.avatar-fallback {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
}
