@import '../../styles/colors';

#board {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;

    h3 {
        text-align: center;
        margin: 0.5rem 0;
    }

    .board-table {
        overflow: auto;

        .row {
            display: flex;

            &:first-child {
                background-color: $black_alpha_10;
                text-transform: uppercase;
                text-align: center;

                .cell {
                    border: none;
                    padding: 0.5rem;
                }
            }

            &:last-child .cell {
                padding-bottom: 3rem;
            }

            .cell {
                flex: 1;
                min-width: 10rem;
                border-left: 1px solid $black_alpha_10;

                &:first-child {
                    border-left: none;
                }
            }
        }

        .add-ticket {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 8rem;
            max-width: 10rem;
            width: 100%;
            margin: auto;

            font-size: 5rem;
            color: $white;
            background-color: $black_alpha_10;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}
