$white: #f9f9f9;
$lightgrey: #eeeeee;
$darkgrey: #526273;
$black: #343940;

$success: #00c851;
$error: #ff3547;

$base_blue: #0068c9;
$base_red: #e80c2e;
$base_red_hover: #b60c2e;

$ticket_yellow: #e9e069;
$ticket_blue: #64bad1;
$ticket_orange: #f1824d;
$ticket_pink: #ea6e8a;
$ticket_green: #a7d14c;
$ticket_red: #fb4955;

$black_alpha_10: rgba(0, 0, 0, 0.1);
$black_alpha_15: rgba(0, 0, 0, 0.15);
$black_alpha_20: rgba(0, 0, 0, 0.2);
$black_alpha_25: rgba(0, 0, 0, 0.25);

$box_shadow: 0 1px 0px 0 $black_alpha_20;
