@import '../../styles/colors';
@import '../../styles/mixin';

.ticket-tile-drop {
    min-height: 3rem;

    &.dropping {
        background-color: $light-gray4;
    }
}

.ticket-tile-drag {
    &.dragging {
        opacity: 0.5;
    }
}

.ticket-tile {
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid $light-gray4;

    @include medium() {
        display: flex;
    }

    .left {
        height: 0.75rem;

        @include medium() {
            min-width: 0.75rem;
            height: unset;
        }
    }

    .center {
        flex: 1;
        margin: 0.5rem 0;
        overflow: hidden;

        @include medium() {
            margin: 0 0.5rem;
        }

        h5,
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .right {
        text-align: right;
    }
}
