@import '../../styles/colors';

.project-tile {
    display: block;
    margin: 2rem 0;

    &.archived {
        color: $pt-text-color-muted;
    }

    .icon {
        float: right;
        cursor: pointer;
    }
}
